* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  width: 60%;
  background-color: #0D3B66;
}

.App-logo{
  width: 100%;
}

.logo-wrapper{
  margin: 0 auto;
  padding: 20px 40px;
  width: 50%;
}
